.button {
  width: 32px;
  height: 32px;
  font-size: 12px;
  color: yellow;
  font-weight: bold;
  border-radius: 2px;
  background-color: #e6e6e6;
}

.blank {
  background-color: #767676;
}

.mine {
  background-color: red;
}

.flag {
  background-color: blue;
}
